body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

input, button {
    padding: 10px;
    margin: 10px;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}
